In [1]:
import pandas as pd
import sklearn as skl
import numpy as np

In [5]:
#import the Training data

Train = pd.read_csv('C:/Users/Justin/Documents/Grad Courses/DNSC 6211 - Programming for Analytics/Week 11/Assignment 10/Part B/train.csv')

C:\Users\Justin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
#check the data import

Train.head(n = 5)

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,H,224,0,4300,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
1,4,H,7,53,4448,B,1.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
2,5,H,116,3,3464,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
3,7,H,240,300,3200,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,RCC,0
4,8,R,72,261,2000,N,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,1

In [ ]:
#import Test data
#cell not run because it crashed my computer multiple times

Test = pd.read_csv('C:/Users/Justin/Documents/Grad Courses/DNSC 6211 - Programming for Analytics/Week 11/Assignment 10/Part B/test.csv')

C:\Users\Justin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (8,9,10,11,12,43,157,167,177,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#drop the categorical variables

In [7]:
#import the linear_model functionality

from sklearn import linear_model

In [ ]:
#create the model object with one hyperparameter set

logreg = linear_model.LogisticRegression(C=le5)

In [ ]:
#Split the dataset into two separate dataframes, one for Y and one for X....

In [ ]:
#Train the model on the two separate dataframes

logreg.fit(TrainX, TrainY)

In [ ]:
#run the predictions on the Test data

predictions = logreg.predict(TestX)

In [ ]:
#convert results to CSV file

Test.to_csv('NewFileName')