In [1]:
import pandas as pd

In [67]:
df = pd.read_csv('flights.csv')

In [68]:
df.head()

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [69]:
len(df)

336776

if (sched_dep_time + dep_delay + air_time > 2400)
    then delete this row

In [70]:
df = (df[(df.sched_dep_time+ df.dep_delay + df.air_time) < 2400])

In [71]:
len(df)

323949

In [72]:
df.head()

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

References
https://pymotw.com/2/datetime/
https://stackoverflow.com/questions/3240458/how-to-increment-the-day-in-datetime-python
http://www.tutorialspoint.com/python/string_zfill.htm
https://stackoverflow.com/questions/13685201/how-to-add-hours-to-current-time-in-python

In [17]:
import datetime
from datetime import timedelta

2013-01-01 22:45:00

In [38]:
# Test out the code
YY = 2013
MM = 1
DD = 1
arr = '45'
arr = arr.zfill(4)
t=datetime.datetime.strptime(arr,'%H%M')
print(t.hour, t.minute)
type(t.hour)

0 45

int

In [53]:
#datetime.datetime(YY, MM, DD, t.hour), int(t.min))
yy = 2013
mm = 9
dd = 23
arr = '2345'
arr = arr.zfill(4)
t=datetime.datetime.strptime(arr,'%H%M')
h = t.hour
m = t.minute

date = datetime.datetime(yy, mm, dd, h, m)
print(date)
date = date + datetime.timedelta(minutes=34)
print(date)

2013-09-23 23:45:00
2013-09-24 00:19:00

In [54]:
# Convert datetime to seconds
(date-datetime.datetime(1970,1,1)).total_seconds()

1379981940.0